* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.elementos {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;
    color: whitesmoke;
    font-weight: 500;
    height: 100px;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient( to bottom, purple, black );
   
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.linhas {
    cursor: pointer;
}
.span {
    width: 30px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    border-radius: 2px;
    transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}
.botao {
    display: none;
}

@media (max-width: 450px) {
    .elementos {
      flex-direction: column;
      align-items: center;
      position: absolute;
      margin: 0;
      padding: 20px;
      width: 35%;
      height: 100%;
      transform: translateX(-100%);
    }
    .botao {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        padding-top: 20px;
    }
}
.barra-lateral {
    transform: translateX(0px);
}
.linha-0 {
    transform: rotate(45deg) translate(4.5px, 12px);
  }
  
  .linha-1 {
    transform: scale(0);
  }
  
  .linha-2 {
    transform: rotate(-45deg) translateY(-7.5px);
}
  


body {
    background-color: #000;
}

.container {
    padding: 25px 10%;
    text-align: center;
}

.container .heading {
    font-size: 30px;
    padding-bottom: 25px;
    color: #fff;
}

.container #search-box {
    width: 600px;
    border: 3px solid #000;
    padding: 12px 15px;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
}

.container .image-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    padding: 30px;
}

@keyframes fadeIn {
    0% {
        transform: scale(0.7) translateY(-10px);
        opacity: 0;
    }
}
.container .image-container .image {
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
    width: 200px;
    border-radius: 5px;
    animation: fadeIn 0.2s linear;
    cursor: pointer;
}

.container .image-container .image img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container .image-container .image img:hover {
  transform: scale(1.1);
   
}

.container .image-container .image h3 {
    font-size: 15px;
    color: #2c3e50;
}

@media (max-width: 1200px) {

    .container .image-container {
        display: grid;
        grid-template-columns: repeat(4,2fr);
        padding: 25px 20px;
    }

    .container .image-container .image {
        width: 90%;
    }

    .container #search-box {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .container .image-container {
        display: grid;
        grid-template-columns: repeat(3,2fr);
        padding: 25px 20px;
    }
    .container .image-container .image {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .container .image-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 15px 5px;
        
       
    }
    .container .image-container .image {
        width: 100%;
        
    }
}







